// Variable
$color-font-white: #fff;
$color-bg: #5b6460;
$color-bg-active: #79857f;
$color-font-gray-1: #333333;

/*-------- About Us Content Start -------*/
.about-us-content-1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 200px 0 100px 0;
}

.about-us-content-content-1__photo{
  flex: 0 0 50%;
  padding-left: 100px;
  @media (max-width: 991px) {
    flex: 0 0 100%;
    padding-left: 0;
  }
}

.about-us-content-1__img{
  width: 100%;
}

.about-us-content-1__info{
  flex: 0 0 50%;
  padding: 0 100px;
  @media (max-width: 991px) {
    flex: 0 0 100%;
    padding: 10px;
  }
}

.about-us-content-1__title{
  font-family: OpenSans-Italic;
  font-size: 24px;
  line-height: 36px;
  color: $color-bg;
  margin-bottom: 32px;
}

.about-us-content-1__subtitle{
  font-family: OpenSans-Light;
  font-size: 16px;
  line-height: 30px;
  color: $color-font-gray-1;
}

/*-------- About Us Content End -------*/
