// Variable
$color-font-white: #fff;
$color-bg: #5b6460;
$color-bg-active: #79857f;
$color-font-gray-1: #333333;
$color-bg-light-green: #e9ece0;

/*-------- About Us Content Start -------*/
.about-us-content-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 100px 0 100px 0;
}

.about-us-content-content-1__photo {
  flex: 0 0 50%;
  padding-left: 100px;
  @media (max-width: 991px) {
    flex: 0 0 100%;
    padding-left: 0;
    order: 1;
    margin-top: 40px;
  }
}

.about-us-content-1__img {
  width: 100%;
}

.about-us-content-1__info {
  flex: 0 0 50%;
  padding: 0 100px;
  @media (max-width: 991px) {
    flex: 0 0 100%;
    padding: 10px;
  }
}

.about-us-content-1__title {
  font-family: OpenSans-Italic;
  font-size: 24px;
  line-height: 36px;
  color: $color-bg;
  margin-bottom: 32px;
  @media (max-width: 991px) {
    text-align: center;
  }
}

.about-us-content-1__subtitle {
  font-family: OpenSans-Light;
  font-size: 16px;
  line-height: 30px;
  color: $color-font-gray-1;
  @media (max-width: 991px) {
    text-align: justify;
  }
}

/*-------- About Us Content End -------*/
/*-------- About Us Gallery Start -------*/
.about-us-gallery {
  margin-bottom: 100px;
}

.about-us-gallery__title {
  font-family: OpenSans-Regular;
  font-size: 40px;
  line-height: 56px;
  color: $color-bg;
  text-align: center;
  margin-bottom: 100px;
  padding: 0 20px;
  @media (min-width: 0) and (max-width: 575px) {
    font-size: 25px;
    line-height: 36px;
  }

  @media (max-width: 767px) {
    font-size: 35px;
    line-height: 46px;
  }
}

.about-us-gallery__photo {
  display: grid;
  grid-gap: 25px;
  grid-template-areas:
    "my-about-us-gallery__photo_1 my-about-us-gallery__photo_2 my-about-us-gallery__photo_2"
    "my-about-us-gallery__photo_3 my-about-us-gallery__photo-text my-about-us-gallery__photo_4";
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

  @media (min-width: 0) and (max-width: 575px) {
  }

  @media (max-width: 767px) {
    grid-template-areas:
      "my-about-us-gallery__photo_2 my-about-us-gallery__photo_2 my-about-us-gallery__photo_2"
      "my-about-us-gallery__photo-text my-about-us-gallery__photo-text my-about-us-gallery__photo-text"
      "my-about-us-gallery__photo_1 my-about-us-gallery__photo_1 my-about-us-gallery__photo_1"
      "my-about-us-gallery__photo_3 my-about-us-gallery__photo_3 my-about-us-gallery__photo_3"
      "my-about-us-gallery__photo_4 my-about-us-gallery__photo_4 my-about-us-gallery__photo_4";
  }

  @media (max-width: 991px) {
  }

  @media (max-width: 1199px) {
    grid-template-areas:
      "my-about-us-gallery__photo_2 my-about-us-gallery__photo_2 my-about-us-gallery__photo_2"
      "my-about-us-gallery__photo-text my-about-us-gallery__photo-text my-about-us-gallery__photo-text"
      "my-about-us-gallery__photo_4 my-about-us-gallery__photo_1 my-about-us-gallery__photo_3";
  }

  @media (max-width: 1399px) {
  }
}

.about-us-gallery__img {
  width: 100%;
}

.about-us-gallery__photo_1 {
  grid-area: my-about-us-gallery__photo_1;
}

.about-us-gallery__photo_2 {
  grid-area: my-about-us-gallery__photo_2;
}

.about-us-gallery__photo_3 {
  grid-area: my-about-us-gallery__photo_3;
}

.about-us-gallery__photo-text {
  grid-area: my-about-us-gallery__photo-text;
  padding: 0 40px;
  background-color: $color-bg-light-green;
  display: flex;
  align-items: center;
  text-align: justify;
}

.photo-text__about-us {
  font-family: OpenSans-Italic;
  font-size: 20px;
  line-height: 36px;
  color: $color-font-gray-1;
}

.about-us-gallery__photo_4 {
  grid-area: my-about-us-gallery__photo_4;
}

/*-------- About Us Gallery End -------*/

/*-------- About Us Contact Us Start -------*/
.contact-us {
  padding: 0 50px;
  margin-bottom: 100px;
}

.about-us-contact-us {
  display: flex;
  flex-wrap: wrap;

  .contact__title {
    flex: 0 0 100%;
  }

  .about-us-stay__contact {
    flex: 0 0 40%;
  }

  .contact-form {
    flex: 0 0 60%;
  }

  .contacts-form__action {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .contacts-form__first-name {
    display: flex;
    flex: 0 0 50%;
    margin-bottom: 24px;
    & input {
      width: 90%;
      border: 0.7px solid #5b6460;
      background-color: #fff;
      height: 50px;
      padding: 20px;
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #333333;
    }

    ::placeholder {
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #828282;
    }

    & :hover,
    & :focus {
      -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
    }
  }
  .contacts-form__last-name {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 50%;
    margin-bottom: 24px;
    & input {
      width: 90%;
      border: 0.7px solid #5b6460;
      background-color: #fff;
      height: 50px;
      padding: 20px;
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #333333;
    }

    ::placeholder {
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #828282;
    }

    & :hover,
    & :focus {
      -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
    }
  }
  .contacts-form__mail {
    flex: 0 0 100%;
    margin-bottom: 24px;
    & input {
      width: 100%;
      border: 0.7px solid #5b6460;
      background-color: #fff;
      height: 50px;
      padding: 20px;
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #333333;
    }

    ::placeholder {
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #828282;
    }

    & :hover,
    & :focus {
      -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
    }
  }
  .contacts-form__subject {
    flex: 0 0 100%;
    margin-bottom: 24px;
    & input {
      width: 100%;
      border: 0.7px solid #5b6460;
      background-color: #fff;
      height: 50px;
      padding: 20px;
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #333333;
    }

    ::placeholder {
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #828282;
    }

    & :hover,
    & :focus {
      -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .contacts-form__message {
    flex: 0 0 100%;
    margin-bottom: 24px;
    & textarea {
      resize: vertical;
      min-height: 124px;
      max-height: 500px;
      width: 100%;
      border: 0.7px solid #5b6460;
      background-color: #fff;
      height: 50px;
      padding: 20px;
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #333333;
    }

    ::placeholder {
      font-family: Open OpenSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: #828282;
    }

    & :hover,
    & :focus {
      -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
    }
  }
  .contact-form__button {
    width: 200px;
    height: 60px;
    background-color: #5b6460;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: DINPro-Light;
  }
}

/*-------- About Us Contact Us End -------*/
