.faq-spoiler {
  margin: 200px 0 100px 0;
  @media (max-width: 767px) {
    margin: 150px 0 50px 0;
  }
}

.spoiler-block {
  margin: 0 0 10px;
  padding: 0 20px;
}

.spoiler-block__item {
  margin: 0 0 10px 0;
}

.spoiler-block__title {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 18px;
  color: black;
  position: relative;
  width: 100%;
  text-align: start;
  border: 0.7px solid #5B6460;
  background-color: unset;
  text-transform: uppercase;
}

.spoiler-block__title._active {
  background-color: #e9ece0;
  border: unset;

}

.spoiler-block._init .spoiler-block__title {
  cursor: pointer;
}

.spoiler-block .spoiler-block__title {
  padding: 20px 40px 20px 30px;
}

.spoiler-block._init .spoiler-block__title {
  padding: 20px 40px 20px 30px;
}

.spoiler-block._init .spoiler-block__title::before {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: 20px;
  transform: rotate(45deg);
  top: 30px;
  transition: transform .3s ease 0s;
  z-index: 2;
}


.spoiler-block._init .spoiler-block__title span {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e9ece0;
  position: absolute;
  right: 6px;
  top: 11px;
  z-index: 1;
}

.spoiler-block._init .spoiler-block__title::after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: 10px;
  top: 30px;
  transition: transform .3s ease 0s;
  transform: rotate(133deg);
  z-index: 2;
}

.spoiler-block._init .spoiler-block__title._active::before {
  transform: rotate(-45deg);
}

.spoiler-block._init .spoiler-block__title._active::after {
  transform: rotate(228deg);
}

.spoiler-block__content {
  line-height: 130%;
}

.spoiler-block__text {
  margin-bottom: 5px;
}

.spoiler-block__text:nth-last-child(1) {
  margin-bottom: 0
}

.spoiler-block__info {
  padding: 10px 30px 30px 30px;
  background-color: #e9ece0;
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
}