.faq-spoiler {
  margin: 200px 0;
}

.block {
  margin: 0 0 10px 0;
}

.block__item{
  margin: 0 0 10px 0;
}

.block__title {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 18px;
  color: black;
  position: relative;
}

.block._init .block__title {
  cursor: pointer;
}

.block._init .block__title {
  padding: 10px 40px 10px 10px;
}

.block._init .block__title::before,
.block._init .block__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  right: 10px;
  top: 20px;
  transition: transform 0.3s ease 0s;
}

.block._init .block__title::after {
  transform: rotate(-90deg);
}

.block._init .block__title._active::after {
  transform: rotate(0deg);
}

.block__text {
  padding: 0 10px 10px;
  line-height: 130%;
}

.block_1 .block__item {
  background-color: darkmagenta;
}

.block_2 .block__item {
  background-color: deepskyblue;
}

.block_3 .block__item {
  background-color: greenyellow;
}