@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "../css/nullstyle";

@import "../css/style-header";

/*-------- index Start -------*/
@import "../css/slider-home";
@import "../css/style";
/*-------- index End -------*/

@import "../css/style-footer";

/*-------- Page The Area Start -------*/
@import "The-Area";
/*-------- Page The Area End -------*/

/*-------- Page About Us Start -------*/
@import "about_us";
/*-------- Page About Us End -------*/
