/*-------- Background Photo Start -------*/
// Variable
$color-font-white: #fff;
$color-bg: #5b6460;
$color-bg-active: #79857f;
$color-font-gray-1: #333333;

.photo-background {
  margin: 100px 0;
  position: relative;

}

.photo-img__back {
  width: 100%;
}

.photo-background__info {
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  text-align-last: center;
}

.photo-background__position_the-area {
  top: 18%;
  left: 40%;
  @media (max-width: 575px) {
    top: 30%;
    left: 25%;
  }
  @media (max-width: 767px) {
    top: 30%;
    left: 35%;
  }

  @media (max-width: 991px) {
    top: 25%;
    left: 38%;
  }
}

.photo-background__position_about-us {
  top: 25%;
  left: 35%;
  @media (max-width: 575px) {
    top: 20%;
    left: 5%;
  }
  @media (max-width: 767px) {
    top: 35%;
    left: 20%;
  }

  @media (max-width: 991px) {
    top: 30%;
    left: 25%;
  }
}

.photo-background__position_booking {
  top: 30%;
  left: 40%;
  @media (max-width: 575px) {
    top: 45%;
    left: 35%;
  }
  @media (max-width: 767px) {
    top: 45%;
    left: 40%;;
  }

  @media (max-width: 991px) {
    top: 40%;
    left: 43%;
  }
}

.photo-background__position_the-hut {
  top: 40%;
  left: 40%;
  @media (max-width: 575px) {
    top: 45%;
    left: 35%;
  }
  @media (max-width: 767px) {
    top: 45%;
    left: 40%;;
  }

  @media (max-width: 991px) {
    top: 40%;
    left: 43%;
  }
}

.photo-background__title {
  font-family: OpenSans-Light;
  font-size: 70px;
  line-height: 72px;
  text-align: center;
  color: $color-font-white;
  margin-bottom: 15px;

  @media (max-width: 991px) {
    font-size: 35px;
    line-height: 37px;
    margin-bottom: 8px;
  }
}

.photo-background__subtitle-location {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  @media (max-width: 991px) {
    margin-bottom: 25px;
  }
}

.subtitle-location__link {
  //marker
  display: list-item;
  list-style-image: url("../../img/the_area/photo_background/marker_geo.svg");
  font-family: OpenSans-Light;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: none;
  color: $color-font-white;
  @media (max-width: 991px) {
    font-size: 14px;
    line-height: 17px;
  }

  &:hover {
    text-decoration-line: underline;
  }

}

.photo-background__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  @media (max-width: 575px) {
    flex-wrap: wrap;
  }
}

.photo-background__button {
  flex: 0 0 50%;
  font-family: DINPro-Light;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: $color-font-white;
  letter-spacing: 1px;
  width: 180px;
  margin: 0 5px;
  padding: 15px 30px;
  border: 1px solid $color-font-white;

  &:hover {
    background-color: $color-bg;
  }

  &:active, :focus {
    background-color: $color-bg-active;
  }


  @media (max-width: 575px) {
    flex: 0 0 100%;
    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }
}

/*-------- Background Photo End -------*/
/*-------- Slider Info Start -------*/

.__container-swiper-other-page {
  max-width: 546px;
  overflow: visible;
  @media (max-width: 575px) {
    max-width: 350px;
  }
  @media (max-width: 767px) {
    max-width: 450px;
  }
}

.slider-info {
  display: flex;
  margin-bottom: 100px;
  padding: 0 100px;
  flex-wrap: wrap;
  @media (max-width: 991px) {
    padding: 0 25px;
  }
  @media (max-width: 1199px) {
    padding: 0 40px;
  }
  @media (max-width: 1399px) {
    padding: 0 50px;
  }
}

.slider-info__swiper {
  flex: 0 0 50%;
  display: flex;
  @media (max-width: 991px) {
    flex: 0 0 100%;
  }
  @media (max-width: 1199px) {
    flex: 0 0 100%;
  }
}

.swiper-slide__photo {
  width: 100%;
}

.slider-info__text {
  display: flex;
  flex: 0 0 50%;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 991px) {
    flex: 0 0 100%;
    padding: 5px;
    margin-top: 100px;
    align-items: center;
    text-align: justify;
  }
  @media (max-width: 1199px) {
    flex: 0 0 100%;
    padding: 5px;
    margin-top: 100px;
    align-items: center;
    text-align: justify;
  }
  @media (max-width: 1399px) {
    padding-left: 50px;
  }
}

.text__title-slider {
  font-family: OpenSans-Regular;
  font-size: 40px;
  line-height: 40px;
  color: $color-bg;
  margin-bottom: 50px;
  @media (max-width: 1199px) {
    text-align: center;
  }
}

.text__subtitle-slider {
  font-family: OpenSans-Regular;
  font-size: 24px;
  line-height: 36px;
  color: $color-bg;
  margin-bottom: 30px;
}

.text__info-slider {
  font-family: OpenSans-Light;
  font-size: 16px;
  line-height: 30px;
  color: $color-font-gray-1;
}

/*-------- Slider Info End -------*/
/*-------- Map Info Start -------*/

.map-info {
  margin: 200px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.map-info__text {
  flex: 0 0 50%;
  @media (max-width: 991px) {
    flex: 0 0 100%;
  }
}

.map-info__title {
  font-family: OpenSans-Regular;
  font-size: 40px;
  line-height: 56px;
  color: $color-bg;
  padding-left: 100px;
  @media (max-width: 575px) {
    padding: 0 10px;
    font-size: 25px;
    line-height: 38px;

  }
  @media (max-width: 767px) {
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 25px;
  }

}

.map-info__photo {
  flex: 0 0 50%;
  @media (max-width: 991px) {
    flex: 0 0 100%;
  }
}

.map-info__img {
  width: 100%;
  padding: 100px;

  @media (max-width: 575px) {
    padding: 0 15px;
  }
  @media (max-width: 767px) {
    padding: 0 25px;
  }
}

/*-------- Map Info End -------*/
/*-------- Activities Start -------*/
.activities {
  margin-bottom: 100px;
}

.activities__title {
  font-family: OpenSans-Regular;
  font-size: 40px;
  line-height: 56px;
  color: $color-bg;
  margin-bottom: 50px;
  padding: 0 10px;
  @media (max-width: 767px) {
    text-align: center;
  }
}

.activities__slider_1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-bottom: 200px;
  @media (max-width: 991px) {
    padding: 0 25px;
    margin-bottom: 100px;
  }
  @media (max-width: 1199px) {
    padding: 0 40px;
    margin-bottom: 100px;
  }
  @media (max-width: 1399px) {
    padding: 0 50px;
  }
}

.text__subtitle-slider_menu {
  margin-bottom: 30px;

  & a {
    font-family: OpenSans-Italic;
    font-size: 18px;
    line-height: 30px;
    color: $color-bg;
  }

  & a:hover {
    text-decoration-line: underline;
  }
}

.activities__slider_2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-bottom: 200px;
  @media (max-width: 991px) {
    padding: 0 25px;
    margin-bottom: 100px;
  }
  @media (max-width: 1199px) {
    padding: 0 40px;
    margin-bottom: 100px;
  }
  @media (max-width: 1399px) {
    padding: 0 50px;
  }
}

.slider-info__order_2 {
  order: -1;
  @media (max-width: 991px) {
    order: 1;
  }
  @media (max-width: 1199px) {
    order: 1;
  }
}

.activities__slider_3 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-bottom: 200px;
  @media (max-width: 991px) {
    padding: 0 25px;
    margin-bottom: 100px;
  }
  @media (max-width: 1199px) {
    padding: 0 40px;
    margin-bottom: 100px;
  }
  @media (max-width: 1399px) {
    padding: 0 50px;
  }
}

.activities__slider_4 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-bottom: 200px;
  @media (max-width: 991px) {
    padding: 0 25px;
    margin-bottom: 100px;
  }
  @media (max-width: 1199px) {
    padding: 0 40px;
    margin-bottom: 100px;
  }
  @media (max-width: 1399px) {
    padding: 0 50px;
  }
}

/*-------- Activities End -------*/

/*-------- Map The Area Start -------*/

/*-------- Map The Area End -------*/


/* PC first*/
@media (max-width: 575px) {

}

@media (max-width: 767px) {

}

@media (max-width: 991px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 1399px) {

}