
/*
@import "fonts";
*/

h1 {
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 757px) {
    p {
        color: pink;
    }

}

p {
    color: blue;
}

@media (max-width: 500px) {
    p {
        color: yellow;
    }

}

@@include('styleFooter.css')

section {
    background: url("../img/IMG_3467.JPG") 0 0 no-repeat;
}
