/*-------- Slider-Home Start -------*/

.swiper-container {
    margin-top: 100px;
    max-width: 1408px;
    max-height: 750px
}

.slider-home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-items: center;
    justify-items: center;
}

.slider-home__img {
    grid-area: 1/1/12/13;
}

.slider-home__photo {
    width: 100%;
}

.slider-home__button {
    grid-area: 11/2/13/6;
}

.slider-home__text {
    grid-area: 2 / 5 / 5 / 12;
}

.slider-home__title {
    font-family: OpenSans-Light;
    font-size: 70px;
    line-height: 72px;
    text-align: right;
    color: #ffffff;
    margin-bottom: 34px;
}

.slider-home__subtitle {
    font-family: Mulish-Regular;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    color: #ffffff;
}

/*-------- Slider-Home End -------*/


:root {
    --swiper-navigation-size: 20px;
    --swiper-theme-color: #fff;
    --swiper-navigation-color: var(--swiper-theme-color);

}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 80%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;

}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 45%;
    right: 10px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: 55%;
}

:root {

    --swiper-pagination-color: var(--swiper-theme-color);

}

/* Progress */
.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    border-radius: 5%;
    width: 5px;
    height: 50%;
    left: 5%;
    top: 25%;
}