/*Стилі шапки*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 34px;
}

.navbar__logo {
    padding-left: 146px;
}

.navbar__menu {
    width: 458px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__item {
    font-family: DINPro-Light;
    font-size: 14px;
    text-transform: uppercase;
}

.item__link {
    color: #000000;
}

.item__link:hover {
    color: #151414;
    text-decoration-line: underline;
}

.lang__item {
    color: #000000;
}

.navbar__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: DINPro-Light;
    font-size: 14px;
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    background-color: #5b6460;
    color: #ffffff;
}

.navbar__button:hover {
    background-color: #808e88;
}

.navbar__button:active {
    background-color: #79857f;
}

.navbar__background {
    width: 100%;
}

.background__photo {
    width: 100%;
}

/*End Header*/