/*-------------------- All --------------------*/
::selection {
    background-color: #41906d;
    color: #fff;
}

/*-------------------- All --------------------*/

/*-------------------- Slider-Home Start --------------------*/
.slider-home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.slider-home__img {
    margin: 100px 0 0 0;
    grid-area: 1/1/12/13;
    display: flex;
    align-content: stretch;
    align-items: flex-end;
}

.slider-home__photo {
    width: 100%;
}

.slider-home__button {
    display: flex;
    grid-area: 11/3/13/6;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*-------------------- Slider-Home End --------------------*/


/*Start block About*/
:root {
    --about-text-title-color: #5b6460;
    --about-link-text-color: #5b6460;
    --about-link-line-color: #5b6460;
}

.about {
    display: flex;
    margin: 50px 0 0 0;
    flex-wrap: wrap;
    justify-content: center;
}

.about__text {
    width: 50%;
    padding: 89px 105px 0 147px;
}

.text__title {
    font-family: OpenSans-Regular;
    font-size: 40px;
    color: var(--about-text-title-color);
    margin-bottom: 45px;
}

.text__subtitle {
    font-family: OpenSans-Light;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 30px;
}

.about__link {
    display: inline-block;
    font-family: "Open Sans Semibold";
    font-size: 16px;
    color: var(--about-link-text-color);
}

.about__link:after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--about-link-line-color);
}

.about__link:hover {
    color: #000000;
}

.about__photo {
    width: 50%;
}

.photo__bad {
    width: 100%;
}

.about__photo-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 150px 0;
}

.about__item {
    width: 100%;
}

/*End block About*/

/*----------------------------Forest block start-------------------*/

.forest {
    display: grid;
    grid-template-areas:
            "my-map my-forest-info"
            "my-map my-forest-info";
    grid-template-columns: repeat(2, 1fr);
}

.forest__map {
    grid-area: my-map;
}

.forest__info {
    grid-area: my-forest-info;
    display: flex;
    padding: 1em 4em;
    background-color: #e9ece0;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.forest__title {
    font-family: OpenSans-Regular;
    font-size: 40px;
    line-height: 40px;
    color: #5B6460;
    margin-bottom: 50px;
}

.forest__subtitle {
    font-family: OpenSans-Regular;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 25px;
}

.forest__link {
    display: inline-block;
    font-family: OpenSans-Italic;
    font-size: 16px;
    color: #5B6460;
}

.forest__link:hover {
    color: #000;
}

.forest__link::after {
    margin-top: -5px;
    display: inline-block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #5B6460;
}

.map__google {
    width: 100%;
}


/*----------------------------Forest block end-------------------*/

/*----------------------------Facilities block-------------------*/

:root {
    --facilities-bg-color: #5b6460;
    --facilities-color-text: #fff;
    --facilities-sub-title-color: #fff;
}

.facilities {
    background-color: var(--facilities-bg-color);
    padding: 10em 20em;
}

.facilities__text {
    color: var(--facilities-color-text);
}

.facilities__title {
    font-family: OpenSans-Light;
    font-size: 40px;
    margin-bottom: 100px;
    text-align: center;
}

.facilities__icons {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.icons__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.icons__sub-title {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: var(--facilities-sub-title-color);
    margin-top: 25px;
    line-height: 2em;
    text-align: center;
}

/*----------------------------Facilities block END-------------------*/

/*----------------------------More about us block Start-------------------*/

.more-about-us {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-items: center;
    justify-items: center;
}

.more-about-us__photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: 1 / 1 / 5 / 7;
}

.item__photo-gallery {
    width: 100%;
}

.more-about-us__button {
    grid-area: 2 / 3 / 4 / 5;

}

.more-about-us__link {
    font-family: DINPro-Medium;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #e9ece0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.more-about-us__link:hover {
    background-color: #5B6460;
    color: #fff;
    text-decoration-line: underline;
}

/*----------------------------More about us block End-------------------*/

/*--------------------------------- ContactUsStay Start----------------------------------*/
:root {
    --about-us-stay-color: #5b6460;
    --about-us-stay-color-hover: #808e88;
    --button-us-stay-price-info-bg-color: #e9ece0;
}

.about-us-stay {
    display: grid;
    grid-gap: 100px;
    padding: 8em 10em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.contact__title {
    display: block;
    font-family: OpenSans-Regular;
    font-size: 40px;
    color: var(--about-us-stay-color);
    margin-bottom: 50px;
    line-height: 55px;
}

.contact__sub-title {
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.contact__phone {
    display: block;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

.contact__phone:hover {
    text-decoration-line: underline;
}

.contact__mail {
    display: block;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #000000;
    margin-bottom: 50px;
}

.contact__mail:hover {
    text-decoration-line: underline;
}

.contact__link-social {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.link-social__item {
    display: flex;
    padding: 10px;
    background-color: var(--about-us-stay-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.link-social__item:hover {
    background-color: var(--about-us-stay-color-hover);
    color: #000000;

}

.link-social__item:nth-last-child(-n+1) {
    margin-right: 0;
}

.link-social__item:nth-child(n+1) {
    margin-left: 0;
}

.about-us-stay__little-book {
    padding: 45px 0;
    display: grid;
    justify-content: center;
    align-content: center;
}

.little-book-photo {
    width: 100%;
}

.little-book__button {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.button__block {
    background-color: var(--about-us-stay-color);
    padding: 20px;
}

.button__block:hover {
    background-color: var(--about-us-stay-color-hover);
}

.block__book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book__title {
    font-family: DINPro-Light;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

.button__info-price {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: var(--button-us-stay-price-info-bg-color);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.info-price__text {
    font-family: DINPro-Light;
    font-size: 12px;
    color: #000000;
}

.text__price-book_2 {
    font-family: DINPro-Medium;
    font-size: 20px;
}

.text__price-book_3 {
    display: flex;
    justify-content: flex-end;
}

/*--------------------------------- ContactUsStay End----------------------------------*/


/*--------------------------------- Media Start----------------------------------*/
@media (min-width: 1399px) {
    .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 575px) {
    .about__item {
        margin-bottom: 30px;
    }
}

/*
Small devices (landscape phones, 576px and down)
*/
@media (max-width: 576px) {
    .forest {
        grid-template-areas:
            "my-forest-info my-forest-info"
            "my-map my-map";
    }

    .facilities {
        padding: 3em 3em;
    }

    .text__title {
        text-align: center;
    }

    .about__item {
        margin-bottom: 30px;
    }

    .about-us-stay {
        padding: 3em 3em;
    }
}

/*
Medium devices (tablets, 768px and down)
*/
@media (max-width: 768px) {

    .about__photo-gallery {
        display: grid;
        grid-template-areas:
                "my-about-photo-item-1 my-about-photo-item-1 my-about-photo-item-1"
                "my-about-photo-item-3 my-about-photo-item-3 my-about-photo-item-3"
                "my-about-photo-item-2 my-about-photo-item-2 my-about-photo-item-2";
    }

    .about__photo-item_1 {
        grid-area: my-about-photo-item-1;
    }

    .about__photo-item_2 {
        grid-area: my-about-photo-item-2;
    }

    .about__photo-item_3 {
        grid-area: my-about-photo-item-3;
    }

    .forest {
        display: grid;
        grid-template-areas:
            "my-forest-info my-forest-info"
            "my-map my-map";
    }

    .about__photo-gallery {
        justify-content: center;
    }

    .facilities {
        padding: 5em 5em;
    }

    .text__subtitle {
        text-align: justify;
    }

    .about-us-stay {
        padding: 2em 2em;
    }

    .more-about-us {
        display: none;
    }
}

/*
Large devices (desktops, 992px and down)
*/
@media (max-width: 992px) {
    .facilities {
        padding: 5em 5em;
    }

    .about-us-stay {
        padding: 4em 5em;
    }

    .forest {
        grid-template-areas:
            "my-forest-info my-forest-info"
            "my-map my-map";
    }
}

@media (max-width: 1200px) {

    .about__text {
        padding: 20px 0;
    }

}

/*
XX-Large devices (larger desktops, 1400px and down)
*/
@media (max-width: 1400px) {

    .about__text {
        padding: 0 50px 50px 50px;
    }

}

/*--------------------------------- Media End  ----------------------------------*/
