/*------------------------- Start footer -------------------*/
:root {
    --footer-bg-color: #5b6460;
    --footer-bg-newsletter-color: #fff;
    --footer-newsletter-sub-text-color: #fff;

}

/*------------------------- End footer -------------------*/

.footer {
    margin-top: 50px;
    background-color: var(--footer-bg-color);
    padding: 8em 10em;

}

.footer__container {
    max-width: 1408px;
    margin: 0 auto;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.footer__newsletter {
    grid-area: my-newsletter;
}

.footer__license {
    grid-area: my-license;
}

.footer__security-police {
    grid-area: my-security-police;
}

/*Шаблон вигляду футера*/
.footer__container {
    grid-template-areas:
            "my-newsletter my-license"
            "my-security-police my-security-police";
}

.newsletter__form {
    position: relative;
}

.newsletter__title {
    font-family: "Open Sans Semibold";
    color: var(--footer-bg-newsletter-color);
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
}

.newsletter__input {
    width: 100%;
    background-color: var(--footer-bg-color);
    border-bottom: 2px solid var(--footer-bg-newsletter-color);
    padding: 3px;
}

.newsletter__input::placeholder {
    color: var(--footer-bg-newsletter-color);
    font-family: OpenSans-LightItalic;
    font-size: 16px;
}

.newsletter__button {
    position: absolute;
    background-color: unset;
}

.newsletter-sub-text {
    font-family: OpenSans-Light;
    font-size: 16px;
    margin-top: 10px;
    color: var(--footer-newsletter-sub-text-color);
    line-height: 20px;
}

.license__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}

.license__item > a {
    color: var(--footer-bg-newsletter-color);
    font-family: DINPro-Light;
    font-size: 14px;
    text-transform: uppercase;
}

.license__list__icon {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.list__icon__item {
    margin: 0 50px;
}

.license__list__icon li:nth-last-child(-n+1) {
    margin: 0;
}

.footer__security-police {
    font-family: OpenSans-Light;
    font-size: 14px;
    color: var(--footer-bg-newsletter-color);
}

/*
No media query for `xs` since this is the default in Bootstrap
*/

/*
Small devices (landscape phones, 576px and down)
*/
@media (max-width: 576px) {
    .footer {
        padding: 2em 2em;
    }
}

/*
Medium devices (tablets, 768px and down)
*/
@media (max-width: 768px) {
    .footer {
        padding: 2em 2em;
    }
}

/*
Large devices (desktops, 992px and down)
*/
@media (max-width: 992px) {
    /*Шаблон вигляду футера*/
    .footer__container {
        grid-template-areas:
            "my-newsletter my-newsletter"
            "my-license my-license"
            "my-security-police my-security-police";
    }

    .footer {
        padding: 4em 5em;
    }
}

/*
X-Large devices (large desktops, 1200px and down)
*/
@media (max-width: 1200px) {
}

/*
XX-Large devices (larger desktops, 1400px and down)
*/
@media (max-width: 1400px) {
}