/*-------------------- All --------------------*/
::selection {
    background-color: #41906d;
    color: #fff;
}

/*-------------------- All --------------------*/

/*Start block About*/
:root {
    --about-text-title-color: #5b6460;
    --about-link-text-color: #5b6460;
    --about-link-line-color: #5b6460;
}

.about {
    display: flex;
    margin: 150px 0 0 0;
    flex-wrap: wrap;
    justify-content: center;
}

.about__text {
    width: 50%;
    padding: 89px 105px 0 147px;
}

.text__title {
    font-family: OpenSans-Regular;
    font-size: 40px;
    color: var(--about-text-title-color);
    margin-bottom: 45px;
}

.text__subtitle {
    font-family: OpenSans-Light;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 30px;
}

.about__link {
    display: inline-block;
    font-family: "Open Sans Semibold";
    font-size: 16px;
    color: var(--about-link-text-color);
}

.about__link:after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--about-link-line-color);
}

.about__link:hover {
    color: #000000;
}

.about__photo {
    width: 50%;
}

.photo__bad {
    width: 100%;
}

.about__photo-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 150px 0;
}

.about__item {
    width: 100%;
}

/*End block About*/

/*----------------------------Facilities block-------------------*/

:root {
    --facilities-bg-color: #5b6460;
    --facilities-color-text: #fff;
    --facilities-sub-title-color: #fff;
}

.facilities {
    background-color: var(--facilities-bg-color);
    padding: 10em 20em;
}

.facilities__text {
    color: var(--facilities-color-text);
}

.facilities__title {
    font-family: OpenSans-Light;
    font-size: 40px;
    margin-bottom: 100px;
    text-align: center;
}

.facilities__icons {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.icons__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.icons__sub-title {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: var(--facilities-sub-title-color);
    margin-top: 25px;
    line-height: 2em;
    text-align: center;
}

/*----------------------------Facilities block END-------------------*/

/*--------------------------------- ContactUsStay Start----------------------------------*/
:root {
    --about-us-stay-color: #5b6460;
}

.about-us-stay {
    display: grid;
    grid-gap: 100px;
    padding: 8em 10em;
    grid-template-columns: 1fr 1fr;
}

.contact__title {
    display: block;
    font-family: OpenSans-Regular;
    font-size: 40px;
    color: var(--about-us-stay-color);
    margin-bottom: 50px;
}

.contact__sub-title {
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.contact__phone {
    display: block;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

.contact__mail {
    display: block;
    font-family: OpenSans-Light;
    font-size: 16px;
    color: #000000;
    margin-bottom: 50px;
}

.link-social__item {
    display: inline-block;
    padding: 10px;
    background-color: var(--about-us-stay-color);
    border-radius: 50%;
    margin: 0 40px;
}

.link-social__item:nth-last-child(-n+1) {
    margin-right: 0;
}

.link-social__item:nth-child(n+1) {
    margin-left: 0;
}

.little-book-photo {
    width: 100%;
}

.little-book__button {
    background-color: var(--about-us-stay-color);
    padding: 20px;
}

.button__block {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.block__book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book__title {
    font-family: DINPro-Light;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

/*--------------------------------- ContactUsStay End----------------------------------*/


/*--------------------------------- Media Start----------------------------------*/
@media (min-width: 1399px) {
    .about {
        display: flex;
        margin: 150px 0 0 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 575px) {
    .about__item {
        margin-bottom: 30px;
    }
}

/*
Small devices (landscape phones, 576px and down)
*/
@media (max-width: 576px) {
    .facilities {
        padding: 3em 3em;
    }

    .text__title {
        text-align: center;
    }

    .about__item {
        margin-bottom: 30px;
    }
}

/*
Medium devices (tablets, 768px and down)
*/
@media (max-width: 768px) {

    .about__photo-gallery {
        justify-content: center;
    }

    .facilities {
        padding: 5em 5em;
    }

    .text__subtitle {
        text-align: justify;
    }
}

/*
Large devices (desktops, 992px and down)
*/
@media (max-width: 992px) {
    .facilities {
        padding: 5em 5em;
    }
}

@media (max-width: 1200px) {

    .about__text {
        padding: 20px 0;
    }
}

/*
XX-Large devices (larger desktops, 1400px and down)
*/
@media (max-width: 1400px) {

    .about__text {
        padding: 50px;
    }
}

/*--------------------------------- Media End  ----------------------------------*/
