@charset "UTF-8";

@font-face {
  font-family: "CrimsonPro-Regular";
  font-display: swap;
  src: url("../fonts/CrimsonPro-Regular.woff") format("woff"), url("../fonts/CrimsonPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Light";
  font-display: swap;
  src: url("../fonts/DINPro-Light.woff") format("woff"), url("../fonts/DINPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Medium";
  font-display: swap;
  src: url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Handlee-Regular";
  font-display: swap;
  src: url("../fonts/Handlee-Regular.woff") format("woff"), url("../fonts/Handlee-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBold";
  font-display: swap;
  src: url("../fonts/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-Regular";
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Italic";
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  font-display: swap;
  src: url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Стилі для обнулення*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Кінець  обнулення*/

/*----------------Стилі шапки----------------*/

:root {
  --header-bg-color: #ffffff;
  --header-width-container: 1408px;
  --header-font-family: DINPro-Light;
  --header-bg-color-mobile: #5B6460;
  --header-bg-menu-body-mobile: #ffffff;
  --header-bg-menu-icon-mobile: #000000;
  --header-menu-link-color: #000000;
  --header-menu-sub-link-color: #000000;
  --header-menu-button-bg-color: #5b6460;
  --header-menu-button-color: #ffffff;
  --header-menu-button-color-hover: #808e88;
  --header-menu-button-color-act-foc: #79857f;
  --header-menu-arrow-color: #000000;
}

body._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--header-bg-color);
  font-family: var(--header-font-family);
}

.header__container {
  max-width: var(--header-width-container);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  min-height: 100px;
}

.header__logo {
  padding-left: 146px;
  position: relative;
  z-index: 5;
}

.menu__icon {
  display: none;
}

.menu__body {
  display: flex;
}

.menu__list > li {
  position: relative;
  margin: 0 0 0 10px;
}

.menu__link {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--header-menu-link-color);
}

.menu__link:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3px 0;
}

.menu__sub-list li {
  margin: 0 0 10px 0;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: var(--header-menu-sub-link-color);
}

.menu__sub-link:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  background-color: var(--header-menu-button-bg-color);
  color: var(--header-menu-button-color);
  margin: 0 0 0 40px;
}

.menu__button:hover {
  background-color: var(--header-menu-button-color-hover);
}

.menu__button:active,
:focus {
  background-color: var(--header-menu-button-color-act-foc);
}

.menu__arrow {
  display: none;
}

/*----------------------------------*/

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

.menu__list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--header-menu-arrow-color);
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

/*----------------------------------*/

/*--------------------End Header---------*/

/*Start block About*/

:root {
  --about-text-title-color: #5b6460;
  --about-link-text-color: #5b6460;
  --about-link-line-color: #5b6460;
}

.about {
  display: flex;
  margin: 150px 0 0 0;
  flex-wrap: wrap;
  justify-content: center;
}

.about__text {
  width: 50%;
  padding: 89px 105px 0 147px;
}

.text__title {
  font-family: OpenSans-Regular;
  font-size: 40px;
  color: var(--about-text-title-color);
  margin-bottom: 45px;
}

.text__subtitle {
  font-family: OpenSans-Light;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 30px;
}

.about__link {
  display: inline-block;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  color: var(--about-link-text-color);
}

.about__link:after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--about-link-line-color);
}

.about__link:hover {
  color: #000000;
}

.about__photo {
  width: 50%;
}

.photo__bad {
  width: 100%;
}

.about__photo-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 150px 0;
}

.about__item {
  width: 100%;
}

/*End block About*/

/*----------------------------Facilities block-------------------*/

:root {
  --facilities-bg-color: #5b6460;
  --facilities-color-text: #fff;
  --facilities-sub-title-color: #fff;
}

.facilities {
  background-color: var(--facilities-bg-color);
  padding: 10em 20em;
}

.facilities__text {
  color: var(--facilities-color-text);
}

.facilities__title {
  font-family: OpenSans-Light;
  font-size: 40px;
  margin-bottom: 100px;
  text-align: center;
}

.facilities__icons {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.icons__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.icons__sub-title {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: var(--facilities-sub-title-color);
  margin-top: 25px;
  line-height: 2em;
  text-align: center;
}

/*
Small devices (landscape phones, 576px and down)
*/

/*
Medium devices (tablets, 768px and down)
*/

/*
Large devices (desktops, 992px and down)
*/

/*
XX-Large devices (larger desktops, 1400px and down)
*/

/*----------------------------Facilities block END-------------------*/

/*------------------------- Start footer -------------------*/

:root {
  --footer-bg-color: #5b6460;
  --footer-bg-newsletter-color: #fff;
}

/*------------------------- End footer -------------------*/

.footer {
  margin-top: 50px;
  background-color: var(--footer-bg-color);
  padding: 8em 10em;
}

.footer__container {
  max-width: 1408px;
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.footer__newsletter {
  grid-area: my-newsletter;
}

.footer__license {
  grid-area: my-license;
}

.footer__security-police {
  grid-area: my-security-police;
}

/*Шаблон вигляду футера*/

.footer__container {
  grid-template-areas: "my-newsletter my-license" "my-security-police my-security-police";
}

.newsletter__title {
  font-family: "Open Sans Semibold";
  color: var(--footer-bg-newsletter-color);
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
}

.newsletter__input {
  position: relative;
  width: 100%;
  background-color: var(--footer-bg-color);
  border-bottom: 2px solid var(--footer-bg-newsletter-color);
  padding: 3px;
}

.newsletter__input::-moz-placeholder {
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__input:-ms-input-placeholder {
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__input::placeholder {
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__button {
  position: absolute;
}

._container {
  max-width: 1408px;
  margin: 0 auto;
}

@media (min-width: 575px) {
  .about__item {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .menu__list {
    width: 458px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 235px 0 0;
  }

  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    transform: translate(0, 20%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
}

@media (min-width: 1399px) {
  .about {
    display: flex;
    margin: 150px 0 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 1400px) {
  .about__text {
    padding: 50px;
  }
}

@media (max-width: 1200px) {
  .menu__list {
    margin: 0 75px 0 0;
  }

  .about__text {
    padding: 20px 0;
  }
}

@media (max-width: 993px) {
  .header__logo {
    padding-left: 20px;
  }

  .menu__button {
    width: 100px;
    height: 50px;
  }

  .menu__list {
    margin: 0 35px 0 0;
  }
}

@media (max-width: 992px) {
  .facilities {
    padding: 5em 5em;
  }
}

@media (max-width: 768px) {
  .about__photo-gallery {
    justify-content: center;
  }

  .facilities {
    padding: 5em 5em;
  }

  .text__subtitle {
    text-align: justify;
  }
}

@media (max-width: 767px) {
  .menu__body {
    display: block;
  }

  .header__logo {
    padding-left: 20px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--header-bg-menu-icon-mobile);
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon::after {
    top: 100%;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-menu-body-mobile);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--header-bg-color-mobile);
    z-index: 2;
  }

  .menu__list {
    margin: 0;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 30px 0 !important;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu__sub-list li:last-child {
    margin: 0 0 10px 0;
  }

  .menu__link {
    font-size: 28px;
  }

  .menu__sub-list {
    position: relative;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
    padding: 0;
  }

  .menu__sub-link {
    font-size: 24px;
    color: var(--header-menu-sub-link-color);
  }

  .menu__button {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .facilities {
    padding: 3em 3em;
  }

  .text__title {
    text-align: center;
  }

  .about__item {
    margin-bottom: 30px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 575px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1399px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 993px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 576px){

@supports (-webkit-appearance:none){

}

}
