@charset "UTF-8";

/*-------- Fonts -------*/

@font-face {
  font-family: "CrimsonPro-Regular";
  font-display: swap;
  src: url("../fonts/CrimsonPro-Regular.woff") format("woff"), url("../fonts/CrimsonPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Light";
  font-display: swap;
  src: url("../fonts/DINPro-Light.woff") format("woff"), url("../fonts/DINPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DINPro-Medium";
  font-display: swap;
  src: url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Handlee-Regular";
  font-display: swap;
  src: url("../fonts/Handlee-Regular.woff") format("woff"), url("../fonts/Handlee-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBold";
  font-display: swap;
  src: url("../fonts/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish-Regular";
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Italic";
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  font-display: swap;
  src: url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*-------- Fonts -------*/

/*-------- Обнулення -------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------- Обнулення -------*/

:root {
  --header-bg-color: #ffffff;
  --header-width-container: 1408px;
  --header-font-family: DINPro-Light;
  --header-bg-color-mobile: #5B6460;
  --header-bg-menu-body-mobile: #ffffff;
  --header-bg-menu-icon-mobile: #ffffff;
  --header-menu-link-color: #000000;
  --header-menu-sub-link-color: #000000;
  --header-menu-button-bg-color: #5b6460;
  --header-menu-button-color: #ffffff;
  --header-menu-button-color-hover: #808e88;
  --header-menu-button-color-active: #79857f;
  --header-menu-arrow-color: #000000;
  --about-text-title-color: #5b6460;
  --about-link-text-color: #5b6460;
  --about-link-line-color: #5b6460;
  --facilities-bg-color: #5b6460;
  --facilities-color-text: #fff;
  --facilities-sub-title-color: #fff;
  --about-us-stay-color: #5b6460;
  --about-us-stay-color-hover: #808e88;
  --button-us-stay-price-info-bg-color: #e9ece0;
  --footer-bg-color: #5b6460;
  --footer-bg-newsletter-color: #fff;
  --footer-newsletter-sub-text-color: #fff;
}

/*-------- Header Start -------*/

body._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--header-bg-color);
  font-family: var(--header-font-family);
  border-bottom: 1px solid var(--header-bg-color);
}

.header__container {
  max-width: var(--header-width-container);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 100px;
}

.header__logo {
  position: relative;
  z-index: 5;
  display: flex;
  flex: 0 0 auto;
  margin-left: 5%;
}

.menu__icon {
  display: none;
}

.menu__body {
  display: flex;
  flex: 0 0 60%;
}

.menu__list > li {
  position: relative;
  margin: 0 10px;
}

.menu__list-link:hover :after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--header-menu-link-color);
  margin-top: 4px;
}

.menu__link {
  font-size: 14px;
  text-align: center;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--header-menu-link-color);
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 3px 0;
}

.menu__sub-list img {
  display: block;
  margin: 0 auto 5px auto;
}

.menu__sub-list li {
  margin: 10px 0;
  background-color: white;
  text-align: center;
  border-radius: 10%;
}

.menu__sub-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  -webkit-text-stroke: thin #000000;
}

.menu__sub-link:hover {
  -webkit-text-decoration-line: overline;
  text-decoration-line: overline;
}

.menu__arrow {
  display: none;
}

.menu__button-mobile {
  display: none;
}

.menu__button-mobile._active {
  display: none;
}

.menu__button-desktop {
  position: relative;
  z-index: 5;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  background-color: var(--header-menu-button-bg-color);
  color: var(--header-menu-button-color);
}

.menu__button-desktop:hover {
  background-color: var(--header-menu-button-color-hover);
}

.menu__button-desktop:active,
:focus {
  background-color: var(--header-menu-button-color-active);
}

/*----------------------------------*/

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

.menu__list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--header-menu-arrow-color);
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

/*----------------------------------*/

/*-------- Header End -------*/

/*-------- index Start -------*/

/*-------- Slider-Home Start -------*/

.__container-swiper {
  overflow: visible;
  margin-top: 100px;
  max-width: 1408px;
}

.slider-home__button {
  position: absolute;
  z-index: 5;
  left: 5%;
  top: 94.5%;
}

.slider-home__text {
  position: absolute;
  width: 55%;
  top: 15%;
  left: 40%;
  z-index: 10;
}

.slider-home__title {
  font-family: OpenSans-Light;
  font-size: 70px;
  line-height: 72px;
  text-align: right;
  color: #ffffff;
  margin-bottom: 34px;
}

.slider-home__subtitle {
  font-family: Mulish-Regular;
  font-size: 20px;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
}

/*-------- Slider-Home End -------*/

/*-------- All -------*/

::-moz-selection {
  background-color: #41906d;
  color: #fff;
}

::selection {
  background-color: #41906d;
  color: #fff;
}

.__container {
  max-width: 1408px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #b4b4b8, #333);
}

/*-------- All -------*/

/*-------- About Start -------*/

.about {
  display: flex;
  margin: 100px 0 0 0;
  flex-wrap: wrap;
  justify-content: center;
}

.about__text {
  flex: 0 0 50%;
  padding: 89px 105px 0 147px;
}

.text__title {
  font-family: OpenSans-Regular;
  font-size: 40px;
  color: var(--about-text-title-color);
  margin-bottom: 45px;
}

.text__subtitle {
  font-family: OpenSans-Light;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 30px;
}

.about__link {
  display: inline-block;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  color: var(--about-link-text-color);
}

.about__link:after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--about-link-line-color);
}

.about__link:hover {
  color: #000000;
}

.about__photo {
  flex: 0 0 50%;
}

.photo__bad {
  width: 100%;
}

.about__photo-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 150px 0;
}

.about__item {
  width: 100%;
}

/*-------- About End -------*/

/*-------- Forest Start -------*/

.forest {
  display: grid;
  grid-template-areas: "my-map my-forest-info" "my-map my-forest-info";
  grid-template-columns: repeat(2, 1fr);
}

.forest__map {
  grid-area: my-map;
  width: 100%;
}

.forest__info {
  grid-area: my-forest-info;
  display: flex;
  padding: 10em 6em;
  background-color: #e9ece0;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.forest__title {
  font-family: OpenSans-Regular;
  font-size: 40px;
  line-height: 40px;
  color: #5b6460;
  margin-bottom: 50px;
}

.forest__subtitle {
  font-family: OpenSans-Regular;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 25px;
}

.forest__link {
  display: inline-block;
  font-family: OpenSans-Italic;
  font-size: 16px;
  color: #5b6460;
}

.forest__link:hover {
  color: #000;
}

.forest__link::after {
  margin-top: -5px;
  display: inline-block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #5b6460;
}

.map__google {
  width: 100%;
}

/*-------- Forest End -------*/

/*-------- Facilities Start -------*/

.facilities {
  background-color: var(--facilities-bg-color);
  padding: 10em 20em;
}

.facilities__text {
  color: var(--facilities-color-text);
}

.facilities__title {
  font-family: OpenSans-Light;
  font-size: 40px;
  margin-bottom: 100px;
  text-align: center;
}

.facilities__icons {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.icons__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.icons__sub-title {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: var(--facilities-sub-title-color);
  margin-top: 25px;
  line-height: 2em;
  text-align: center;
}

/*-------- Facilities End -------*/

/*-------- More-About-Us Start -------*/

.more-about-us {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  align-items: center;
  justify-items: center;
}

.more-about-us__photo-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: 1 / 1 / 5 / 7;
}

.item__photo-gallery {
  width: 100%;
}

.more-about-us__button {
  grid-area: 2 / 3 / 4 / 5;
}

.more-about-us__link {
  font-family: DINPro-Medium;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e9ece0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.more-about-us__link:hover {
  background-color: #5b6460;
  color: #fff;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

/*-------- More-About-Us End -------*/

/*-------- Contact-Us-Stay Start -------*/

.about-us-stay {
  display: flex;
  flex-wrap: wrap;
  padding: 8em 10em;
}

.about-us-stay__contact {
  flex: 0 0 50%;
}

.contact__title {
  display: block;
  font-family: OpenSans-Regular;
  font-size: 40px;
  color: var(--about-us-stay-color);
  margin-bottom: 50px;
  line-height: 55px;
}

.contact__sub-title {
  font-family: OpenSans-Light;
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.contact__phone {
  display: block;
  font-family: OpenSans-Light;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.contact__phone:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.contact__mail {
  display: block;
  font-family: OpenSans-Light;
  font-size: 16px;
  color: #000000;
  margin-bottom: 50px;
}

.contact__mail:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.contact__link-social {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.link-social__item {
  display: flex;
  padding: 10px;
  background-color: var(--about-us-stay-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.link-social__item:hover {
  background-color: var(--about-us-stay-color-hover);
  color: #000000;
}

.link-social__item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.link-social__item:nth-child(n + 1) {
  margin-left: 0;
}

.about-us-stay__little-book {
  padding: 45px 0;
  flex: 0 0 50%;
}

.little-book-photo {
  width: 100%;
}

.little-book__button {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.button__block {
  background-color: var(--about-us-stay-color);
}

.button__block-home {
  padding: 30px 65px;
}

.button__block-about-us-stay {
  padding: 30px 65px;
}

.button__block:hover {
  background-color: var(--about-us-stay-color-hover);
}

.block__book {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book__title {
  font-family: DINPro-Light;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 21px;
}

.button__info-price {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: var(--button-us-stay-price-info-bg-color);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.info-price__text {
  font-family: DINPro-Light;
  font-size: 12px;
  color: #000000;
}

.text__price-book_2 {
  font-family: DINPro-Medium;
  font-size: 20px;
}

.text__price-book_3 {
  display: flex;
  justify-content: flex-end;
}

/*-------- Contact-Us-Stay End -------*/

/*-------- index End -------*/

/*-------- Footer Start -------*/

.footer {
  background-color: var(--footer-bg-color);
  padding: 8em 10em;
}

.footer__container {
  max-width: 1408px;
  margin: 0 auto;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.footer__newsletter {
  grid-area: my-newsletter;
}

.footer__license {
  grid-area: my-license;
}

.footer__security-police {
  grid-area: my-security-police;
}

/*Шаблон вигляду футера*/

.footer__container {
  grid-template-areas: "my-newsletter my-license" "my-security-police my-security-police";
}

.newsletter__form {
  position: relative;
}

.newsletter__title {
  font-family: "Open Sans Semibold";
  color: var(--footer-bg-newsletter-color);
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
}

.newsletter__input {
  width: 100%;
  background-color: var(--footer-bg-color);
  border-bottom: 2px solid var(--footer-bg-newsletter-color);
  padding: 3px;
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__input:focus,
.newsletter__input:hover {
  background-color: #808e88;
}

.newsletter__input::-moz-placeholder {
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__input:-ms-input-placeholder {
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__input::placeholder {
  color: var(--footer-bg-newsletter-color);
  font-family: OpenSans-LightItalic;
  font-size: 16px;
}

.newsletter__button {
  position: absolute;
  display: inline-block;
  right: 2px;
  top: 43px;
  background-color: unset;
}

.newsletter-sub-text {
  font-family: OpenSans-Light;
  font-size: 16px;
  margin-top: 10px;
  color: var(--footer-newsletter-sub-text-color);
  line-height: 20px;
}

.footer__license-text {
  display: flex;
  margin-bottom: 30px;
}

.footer__license-item-text {
  text-align: center;
  flex: 0 0 33.333%;
}

.footer__license-item-text > a {
  color: var(--footer-bg-newsletter-color);
  font-family: DINPro-Light;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
}

.footer__license-item-text > a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.footer__license-icon {
  display: flex;
  align-items: center;
}

.footer__license-item {
  flex: 0 0 25%;
  text-align: center;
}

.footer__security-police {
  font-family: OpenSans-Light;
  font-size: 14px;
  color: var(--footer-bg-newsletter-color);
}

/*-------- Footer End -------*/

/*-------- Page Booking Start -------*/

/*-------- Choose Services Start -------*/

.choose-services {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px;
}

.choose-services__additional {
  flex: 0 0 60%;
}

.choose-services__title {
  font-family: OpenSans-Regular;
  font-size: 24px;
  line-height: 27px;
  color: #5b6460;
  margin-bottom: 20px;
}

.choose-services__title::after {
  content: "";
  display: block;
  margin-top: 20px;
  width: 100%;
  background-color: #5b6460;
  height: 0.7px;
}

.choose-services__spoiler {
  display: flex;
  flex-wrap: wrap;
}

.choose-services__button-plus {
  background-color: #fff;
  padding: 5px;
  width: 34px;
  height: 34px;
  display: inline-block;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
  margin-left: 20px;
}

.choose-services__spoiler-item {
  width: 100%;
  margin-bottom: 20px;
}

.choose-services__spoiler-item:nth-last-child(1) {
  margin-bottom: 100px;
}

.choose-services__spoiler-title-button {
  padding: 13px 20px;
  width: 100%;
  background-color: #e9ece0;
  font-family: OpenSans-SemiBold;
  font-size: 18px;
  line-height: 20px;
  color: #333;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.choose-services__spoiler-title-button .choose-services__spoiler-title-text {
  margin-left: 40px;
}

.choose-services__spoiler-title-button p {
  margin-top: 5px;
  font-family: OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.choose-services__spoiler-title-button .bi-chevron-down {
  transition: transform 0.5s ease 0s;
}

.choose-services__spoiler-title-button span::before {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: 10px;
  transform: rotate(90deg);
  top: 18px;
  transition: transform 0.3s ease 0s;
  z-index: 2;
}

.choose-services__spoiler-title-button span._active::before {
  transform: rotate(-45deg);
}

.choose-services__spoiler-title-button span {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  z-index: 10;
}

.choose-services__spoiler-title-button span::after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: 10px;
  top: 18px;
  transition: transform 0.3s ease 0s;
  transform: rotate(180deg);
  z-index: 2;
}

.choose-services__spoiler-title-button span::after._active {
  transform: rotate(-45deg);
}

.choose-services__spoiler-title-button span._active::before {
  transform: rotate(-45deg);
}

.choose-services__spoiler-title-button._active .bi-chevron-down {
  transform: rotate(180deg);
}

.choose-services__spoiler-content {
  background-color: #fff;
  padding: 20px;
}

.choose-services__spoiler-title {
  font-family: OpenSans-SemiBold;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 10px;
}

.choose-services__spoiler-text {
  font-family: OpenSans-Light;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.choose-services__info {
  margin-bottom: 90px;
}

.choose-services__subtitle {
  font-family: OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  margin-bottom: 10px;
}

.choose-services__subtitle:nth-last-child(1) {
  margin-bottom: 0;
}

.choose-services__button {
  display: flex;
  width: 180px;
  height: 55px;
  background-color: #5b6460;
  font-family: OpenSans-Light;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  float: right;
}

.trash {
  border: 0.7px solid #5b6460;
  flex: 0 0 40%;
  padding: 24px;
}

.trash__sum-title {
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #333333;
  margin-bottom: 20px;
}

.trash__sum-title > span {
  font-family: OpenSans-SemiBold;
  font-size: 24px;
  color: #333333;
}

.trash__table {
  padding: 10px 20px;
  display: flex;
  border: 0.7px solid #5b6460;
  justify-content: space-between;
  margin-bottom: 20px;
}

.trash__item-table {
  font-family: OpenSans-SemiBold;
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  border-right: 0.7px solid #333333;
  padding-right: 20px;
}

.trash__item-table:nth-last-child(1) {
  border-right: unset;
  padding-right: 0;
}

.trash__item-table > h3 {
  margin-bottom: 10px;
}

.trash__guest-oper {
  display: flex;
  justify-content: space-between;
}

.trash__button {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #5b6460;
  color: #fff;
  font-family: OpenSans-Light;
  font-size: 14px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.trash__services-info {
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #333333;
  border-bottom: 0.7px solid #333333;
  margin-bottom: 30px;
}

.trash__block-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.trash__discount {
  color: #41916d;
}

.trash__total {
  display: flex;
  justify-content: space-between;
  font-family: OpenSans-SemiBold;
  font-size: 20px;
  color: #333333;
  margin-bottom: 30px;
}

.trash__coupon {
  display: flex;
}

.trash__button-input {
  flex: 0 0 70%;
  border: 0.7px solid #333333;
  padding: 15px 20px;
  background-color: unset;
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #333333;
}

.trash__button-cuppon {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: OpenSans-Regular;
  font-size: 14px;
  background-color: #5b6460;
  color: #fff;
  text-transform: uppercase;
}

/*-------- Choose Services End -------*/

/*-------- Page Booking End -------*/

/*-------- Page Payment Start -------*/

/*-------- Payment Personal Info Start -------*/

/*-------- Payment Personal Info End -------*/

.payment-content {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 250px 0 150px 0;
}

.choose-services__additional {
  flex: 0 0 60%;
}

.choose-services__title {
  font-family: OpenSans-Regular;
  font-size: 24px;
  line-height: 27px;
  color: #5b6460;
  margin-bottom: 20px;
}

.choose-services__title::after {
  content: "";
  display: block;
  margin-top: 20px;
  width: 100%;
  background-color: #5b6460;
  height: 0.7px;
}

.trash__geo-info {
  display: flex;
  justify-content: space-between;
}

.trash__geo-info .trash__geo {
  display: list-item;
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #333333;
}

.trash__geo-info .trash__geo:hover {
  text-decoration: underline;
}

/*-------- Choose Services End -------*/

/*-------- Page Payment End -------*/

/*-------- Page The Area Start -------*/

/*-------- Background Photo Start -------*/

.photo-background {
  margin: 100px 0;
  position: relative;
}

.photo-img__back {
  width: 100%;
}

.photo-background__info {
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  -moz-text-align-last: center;
  text-align-last: center;
}

.photo-background__position_the-area {
  top: 18%;
  left: 40%;
}

.photo-background__position_about-us {
  top: 25%;
  left: 35%;
}

.photo-background__position_booking {
  top: 30%;
  left: 40%;
}

.photo-background__position_the-hut {
  top: 40%;
  left: 40%;
}

.photo-background__title {
  font-family: OpenSans-Light;
  font-size: 70px;
  line-height: 72px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

.photo-background__subtitle-location {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.subtitle-location__link {
  display: list-item;
  list-style-image: url("../img/the_area/photo_background/marker_geo.svg");
  font-family: OpenSans-Light;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #fff;
}

.subtitle-location__link:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.photo-background__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.photo-background__button {
  flex: 0 0 50%;
  font-family: DINPro-Light;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  width: 180px;
  margin: 0 5px;
  padding: 15px 30px;
  border: 1px solid #fff;
}

.photo-background__button:hover {
  background-color: #5b6460;
}

.photo-background__button:active,
.photo-background__button :focus {
  background-color: #79857f;
}

/*-------- Background Photo End -------*/

/*-------- Slider Info Start -------*/

.__container-swiper-other-page {
  max-width: 546px;
  overflow: visible;
}

.slider-info {
  display: flex;
  margin-bottom: 100px;
  padding: 0 100px;
  flex-wrap: wrap;
}

.slider-info__swiper {
  flex: 0 0 50%;
  display: flex;
}

.swiper-slide__photo {
  width: 100%;
}

.slider-info__text {
  display: flex;
  flex: 0 0 50%;
  padding-left: 100px;
  flex-direction: column;
  justify-content: center;
}

.text__title-slider {
  font-family: OpenSans-Regular;
  font-size: 40px;
  line-height: 40px;
  color: #5b6460;
  margin-bottom: 50px;
}

.text__subtitle-slider {
  font-family: OpenSans-Regular;
  font-size: 24px;
  line-height: 36px;
  color: #5b6460;
  margin-bottom: 30px;
}

.text__info-slider {
  font-family: OpenSans-Light;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

/*-------- Slider Info End -------*/

/*-------- Map Info Start -------*/

.map-info {
  margin: 200px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.map-info__text {
  flex: 0 0 50%;
}

.map-info__title {
  font-family: OpenSans-Regular;
  font-size: 40px;
  line-height: 56px;
  color: #5b6460;
  padding-left: 100px;
}

.map-info__photo {
  flex: 0 0 50%;
}

.map-info__img {
  width: 100%;
  padding: 100px;
}

/*-------- Map Info End -------*/

/*-------- Activities Start -------*/

.activities {
  margin-bottom: 100px;
}

.activities__title {
  font-family: OpenSans-Regular;
  font-size: 40px;
  line-height: 56px;
  color: #5b6460;
  margin-bottom: 50px;
  padding: 0 10px;
}

.activities__slider_1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-bottom: 200px;
}

.text__subtitle-slider_menu {
  margin-bottom: 30px;
}

.text__subtitle-slider_menu a {
  font-family: OpenSans-Italic;
  font-size: 18px;
  line-height: 30px;
  color: #5b6460;
}

.text__subtitle-slider_menu a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.activities__slider_2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-bottom: 200px;
}

.slider-info__order_2 {
  order: -1;
}

.activities__slider_3 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-bottom: 200px;
}

.activities__slider_4 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-bottom: 200px;
}

/*-------- Activities End -------*/

/*-------- Map The Area Start -------*/

/*-------- Map The Area End -------*/

/* PC first*/

/*-------- Page The Area End -------*/

/*-------- Page About Us Start -------*/

/*-------- About Us Content Start -------*/

.about-us-content-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 100px 0 100px 0;
}

.about-us-content-content-1__photo {
  flex: 0 0 50%;
  padding-left: 100px;
}

.about-us-content-1__img {
  width: 100%;
}

.about-us-content-1__info {
  flex: 0 0 50%;
  padding: 0 100px;
}

.about-us-content-1__title {
  font-family: OpenSans-Italic;
  font-size: 24px;
  line-height: 36px;
  color: #5b6460;
  margin-bottom: 32px;
}

.about-us-content-1__subtitle {
  font-family: OpenSans-Light;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

/*-------- About Us Content End -------*/

/*-------- About Us Gallery Start -------*/

.about-us-gallery {
  margin-bottom: 100px;
}

.about-us-gallery__title {
  font-family: OpenSans-Regular;
  font-size: 40px;
  line-height: 56px;
  color: #5b6460;
  text-align: center;
  margin-bottom: 100px;
  padding: 0 20px;
}

.about-us-gallery__photo {
  display: grid;
  grid-gap: 25px;
  grid-template-areas: "my-about-us-gallery__photo_1 my-about-us-gallery__photo_2 my-about-us-gallery__photo_2" "my-about-us-gallery__photo_3 my-about-us-gallery__photo-text my-about-us-gallery__photo_4";
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.about-us-gallery__img {
  width: 100%;
}

.about-us-gallery__photo_1 {
  grid-area: my-about-us-gallery__photo_1;
}

.about-us-gallery__photo_2 {
  grid-area: my-about-us-gallery__photo_2;
}

.about-us-gallery__photo_3 {
  grid-area: my-about-us-gallery__photo_3;
}

.about-us-gallery__photo-text {
  grid-area: my-about-us-gallery__photo-text;
  padding: 0 40px;
  background-color: #e9ece0;
  display: flex;
  align-items: center;
  text-align: justify;
}

.photo-text__about-us {
  font-family: OpenSans-Italic;
  font-size: 20px;
  line-height: 36px;
  color: #333333;
}

.about-us-gallery__photo_4 {
  grid-area: my-about-us-gallery__photo_4;
}

/*-------- About Us Gallery End -------*/

/*-------- About Us Contact Us Start -------*/

.contact-us {
  padding: 0 50px;
  margin-bottom: 150px;
}

.about-us-contact-us {
  display: flex;
  flex-wrap: wrap;
}

.about-us-contact-us .contact__title {
  width: 100%;
}

.about-us-contact-us .about-us-stay__contact {
  flex: 0 0 40%;
}

.about-us-contact-us .contact-form {
  flex: 0 0 60%;
}

.about-us-contact-us .contacts-form__action {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.about-us-contact-us .contacts-form__first-name {
  display: flex;
  flex: 0 0 50%;
  margin-bottom: 24px;
}

.about-us-contact-us .contacts-form__first-name input {
  width: 90%;
  border: 0.7px solid #5b6460;
  background-color: #fff;
  height: 50px;
  padding: 20px;
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.about-us-contact-us .contacts-form__first-name ::-moz-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__first-name :-ms-input-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__first-name ::placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__first-name :hover,
.about-us-contact-us .contacts-form__first-name :focus {
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

.about-us-contact-us .contacts-form__last-name {
  justify-content: flex-end;
  display: flex;
  flex: 0 0 50%;
  margin-bottom: 24px;
}

.about-us-contact-us .contacts-form__last-name input {
  width: 90%;
  border: 0.7px solid #5b6460;
  background-color: #fff;
  height: 50px;
  padding: 20px;
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.about-us-contact-us .contacts-form__last-name ::-moz-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__last-name :-ms-input-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__last-name ::placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__last-name :hover,
.about-us-contact-us .contacts-form__last-name :focus {
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

.about-us-contact-us .contacts-form__mail {
  flex: 0 0 100%;
  margin-bottom: 24px;
}

.about-us-contact-us .contacts-form__mail input {
  width: 100%;
  border: 0.7px solid #5b6460;
  background-color: #fff;
  height: 50px;
  padding: 20px;
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.about-us-contact-us .contacts-form__mail ::-moz-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__mail :-ms-input-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__mail ::placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__mail :hover,
.about-us-contact-us .contacts-form__mail :focus {
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

.about-us-contact-us .contacts-form__subject {
  flex: 0 0 100%;
  margin-bottom: 24px;
}

.about-us-contact-us .contacts-form__subject input {
  width: 100%;
  border: 0.7px solid #5b6460;
  background-color: #fff;
  height: 50px;
  padding: 20px;
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.about-us-contact-us .contacts-form__subject ::-moz-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__subject :-ms-input-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__subject ::placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__subject :hover,
.about-us-contact-us .contacts-form__subject :focus {
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

.about-us-contact-us .contacts-form__message {
  flex: 0 0 100%;
  margin-bottom: 24px;
}

.about-us-contact-us .contacts-form__message textarea {
  resize: vertical;
  min-height: 124px;
  max-height: 500px;
  width: 100%;
  border: 0.7px solid #5b6460;
  background-color: #fff;
  height: 50px;
  padding: 20px;
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.about-us-contact-us .contacts-form__message ::-moz-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__message :-ms-input-placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__message ::placeholder {
  font-family: Open OpenSans-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
}

.about-us-contact-us .contacts-form__message :hover,
.about-us-contact-us .contacts-form__message :focus {
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

.about-us-contact-us .contact-form__button {
  width: 200px;
  height: 60px;
  background-color: #5b6460;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: DINPro-Light;
}

/*-------- About Us Contact Us End -------*/

/*-------- With Love Start -------*/

.with-love {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.with-love__title {
  flex: 0 0 100%;
  font-family: Handlee-Regular;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #5b6460;
}

.with-love__subtitle {
  text-align: center;
  flex: 0 0 100%;
}

/*-------- With Love End -------*/

/*-------- Page About Us End -------*/

/*-------- Page FAQ Start -------*/

.faq-spoiler {
  margin: 200px 0 100px 0;
}

.spoiler-block {
  margin: 0 0 10px;
  padding: 0 20px;
}

.spoiler-block__item {
  margin: 0 0 10px 0;
}

.spoiler-block__title {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 18px;
  color: black;
  position: relative;
  width: 100%;
  text-align: start;
  border: 0.7px solid #5B6460;
  background-color: unset;
  text-transform: uppercase;
}

.spoiler-block__title._active {
  background-color: #e9ece0;
  border: unset;
}

.spoiler-block._init .spoiler-block__title {
  cursor: pointer;
}

.spoiler-block .spoiler-block__title {
  padding: 20px 40px 20px 30px;
}

.spoiler-block._init .spoiler-block__title {
  padding: 20px 40px 20px 30px;
}

.spoiler-block._init .spoiler-block__title::before {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: 20px;
  transform: rotate(45deg);
  top: 30px;
  transition: transform .3s ease 0s;
  z-index: 2;
}

.spoiler-block._init .spoiler-block__title span {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e9ece0;
  position: absolute;
  right: 6px;
  top: 11px;
  z-index: 1;
}

.spoiler-block._init .spoiler-block__title::after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #000;
  position: absolute;
  right: 10px;
  top: 30px;
  transition: transform .3s ease 0s;
  transform: rotate(133deg);
  z-index: 2;
}

.spoiler-block._init .spoiler-block__title._active::before {
  transform: rotate(-45deg);
}

.spoiler-block._init .spoiler-block__title._active::after {
  transform: rotate(228deg);
}

.spoiler-block__content {
  line-height: 130%;
}

.spoiler-block__text {
  margin-bottom: 5px;
}

.spoiler-block__text:nth-last-child(1) {
  margin-bottom: 0;
}

.spoiler-block__info {
  padding: 10px 30px 30px 30px;
  background-color: #e9ece0;
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
}

/*-------- Page FAQ End -------*/

@media (min-width: 576px) {
  .about__item {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .menu__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .menu__sub-list {
    transform: translate(0, 20%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }

  .menu__link {
    height: 20px;
  }
}

@media (min-width: 1400px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 1399px) {
  .slider-home__title {
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 34px;
  }

  .slider-home__subtitle {
    font-size: 20px;
    line-height: 28px;
  }

  .about__text {
    padding: 0 50px 50px 50px;
  }

  .slider-info {
    padding: 0 50px;
  }

  .slider-info__text {
    padding-left: 50px;
  }

  .activities__slider_1 {
    padding: 0 50px;
  }

  .activities__slider_2 {
    padding: 0 50px;
  }

  .activities__slider_3 {
    padding: 0 50px;
  }

  .activities__slider_4 {
    padding: 0 50px;
  }
}

@media (max-width: 1199px) {
  .slider-home__title {
    font-size: 50px;
    line-height: 52px;
    margin-bottom: 34px;
  }

  .slider-home__subtitle {
    font-size: 20px;
    line-height: 25px;
  }

  .about__text {
    padding: 20px 20px;
  }

  .contact__title {
    font-size: 35px;
  }

  .slider-info {
    padding: 0 40px;
  }

  .slider-info__swiper {
    flex: 0 0 100%;
  }

  .slider-info__text {
    flex: 0 0 100%;
    padding: 5px;
    margin-top: 100px;
    align-items: center;
    text-align: justify;
  }

  .text__title-slider {
    text-align: center;
  }

  .activities__slider_1 {
    padding: 0 40px;
    margin-bottom: 100px;
  }

  .activities__slider_2 {
    padding: 0 40px;
    margin-bottom: 100px;
  }

  .slider-info__order_2 {
    order: 1;
  }

  .activities__slider_3 {
    padding: 0 40px;
    margin-bottom: 100px;
  }

  .activities__slider_4 {
    padding: 0 40px;
    margin-bottom: 100px;
  }

  .about-us-gallery__photo {
    grid-template-areas: "my-about-us-gallery__photo_2 my-about-us-gallery__photo_2 my-about-us-gallery__photo_2" "my-about-us-gallery__photo-text my-about-us-gallery__photo-text my-about-us-gallery__photo-text" "my-about-us-gallery__photo_4 my-about-us-gallery__photo_1 my-about-us-gallery__photo_3";
  }
}

@media (max-width: 991px) {
  .menu__button-desktop {
    width: 150px;
  }

  .slider-home__title {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  .slider-home__subtitle {
    font-size: 20px;
    line-height: 23px;
  }

  .facilities {
    padding: 5em 5em;
  }

  .about-us-stay {
    padding: 4em 5em;
  }

  .forest {
    grid-template-areas: "my-forest-info my-forest-info" "my-map my-map";
  }

  .forest__info {
    padding: 5em 3em;
    text-align: justify;
  }

  .map__google {
    width: 100%;
    height: 600px;
  }

  .about__text {
    flex: 0 0 100%;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .about__photo {
    flex: 0 0 100%;
  }

  .about-us-stay__contact {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .about-us-stay__little-book {
    padding: 0;
    flex: 0 0 100%;
  }

  .footer__container {
    grid-template-areas: "my-newsletter my-newsletter" "my-license my-license" "my-security-police my-security-police";
  }

  .footer {
    padding: 4em 5em;
  }

  .choose-services__additional {
    flex: 0 0 100%;
    margin-bottom: 50px;
  }

  .trash {
    flex: 0 0 100%;
  }

  .choose-services__additional {
    flex: 0 0 100%;
    margin-bottom: 50px;
  }

  .photo-background__position_the-area {
    top: 25%;
    left: 38%;
  }

  .photo-background__position_about-us {
    top: 30%;
    left: 25%;
  }

  .photo-background__position_booking {
    top: 40%;
    left: 43%;
  }

  .photo-background__position_the-hut {
    top: 40%;
    left: 43%;
  }

  .photo-background__title {
    font-size: 35px;
    line-height: 37px;
    margin-bottom: 8px;
  }

  .photo-background__subtitle-location {
    margin-bottom: 25px;
  }

  .subtitle-location__link {
    font-size: 14px;
    line-height: 17px;
  }

  .slider-info {
    padding: 0 25px;
  }

  .slider-info__swiper {
    flex: 0 0 100%;
  }

  .slider-info__text {
    flex: 0 0 100%;
    padding: 5px;
    margin-top: 100px;
    align-items: center;
    text-align: justify;
  }

  .map-info__text {
    flex: 0 0 100%;
  }

  .map-info__photo {
    flex: 0 0 100%;
  }

  .activities__slider_1 {
    padding: 0 25px;
    margin-bottom: 100px;
  }

  .activities__slider_2 {
    padding: 0 25px;
    margin-bottom: 100px;
  }

  .slider-info__order_2 {
    order: 1;
  }

  .activities__slider_3 {
    padding: 0 25px;
    margin-bottom: 100px;
  }

  .activities__slider_4 {
    padding: 0 25px;
    margin-bottom: 100px;
  }

  .about-us-content-content-1__photo {
    flex: 0 0 100%;
    padding-left: 0;
    order: 1;
    margin-top: 40px;
  }

  .about-us-content-1__info {
    flex: 0 0 100%;
    padding: 10px;
  }

  .about-us-content-1__title {
    text-align: center;
  }

  .about-us-content-1__subtitle {
    text-align: justify;
  }

  .about-us-contact-us .contact__title {
    text-align: center;
  }

  .about-us-contact-us .about-us-stay__contact {
    flex: 0 0 100%;
  }

  .about-us-contact-us .contact-form {
    flex: 0 0 100%;
  }
}

@media (max-width: 767px) {
  .menu__body {
    display: block;
  }

  .header__logo {
    margin-left: 0;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--header-bg-menu-icon-mobile);
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon::after {
    top: 100%;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-menu-body-mobile);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--header-bg-color-mobile);
    z-index: 2;
  }

  .menu__list {
    margin: 0;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 30px 0 !important;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .menu__link {
    font-size: 28px;
    height: 30px;
  }

  .menu__sub-list {
    position: relative;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
    padding: 0;
  }

  .menu__sub-link {
    font-size: 24px;
    color: var(--header-menu-sub-link-color);
  }

  .menu__button-desktop {
    display: none;
  }

  .menu__button-mobile._active {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    background-color: var(--header-menu-button-bg-color);
    color: var(--header-menu-button-color);
  }

  .menu__button-mobile._active:hover {
    background-color: var(--header-menu-button-color-hover);
  }

  .menu__button-mobile._active:active,
  :focus {
    background-color: var(--header-menu-button-color-active);
  }

  .slider-home__title {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 14px;
  }

  .slider-home__subtitle {
    font-size: 15px;
    line-height: 18px;
  }

  .slider-home__text {
    width: 90%;
    top: 7%;
    left: 6%;
  }

  .slider-home__button {
    position: unset;
  }

  .about {
    margin: 50px 0 0 0;
  }

  .about__photo-gallery {
    display: grid;
    grid-template-areas: "my-about-photo-item-1 my-about-photo-item-1 my-about-photo-item-1" "my-about-photo-item-3 my-about-photo-item-3 my-about-photo-item-3" "my-about-photo-item-2 my-about-photo-item-2 my-about-photo-item-2";
    margin: 100px 0;
  }

  .about__photo-item_1 {
    grid-area: my-about-photo-item-1;
  }

  .about__photo-item_2 {
    grid-area: my-about-photo-item-2;
  }

  .about__photo-item_3 {
    grid-area: my-about-photo-item-3;
  }

  .forest {
    display: grid;
    grid-template-areas: "my-forest-info my-forest-info" "my-map my-map";
  }

  .about__photo-gallery {
    justify-content: center;
  }

  .facilities {
    padding: 5em 5em;
  }

  .text__subtitle {
    text-align: justify;
  }

  .about-us-stay {
    padding: 0 2em;
    margin: 50px 0;
  }

  .more-about-us {
    display: none;
  }

  .footer {
    padding: 2em 2em;
  }

  .photo-background__position_the-area {
    top: 30%;
    left: 35%;
  }

  .photo-background__position_about-us {
    top: 35%;
    left: 20%;
  }

  .photo-background__position_booking {
    top: 45%;
    left: 40%;
  }

  .photo-background__position_the-hut {
    top: 45%;
    left: 40%;
  }

  .__container-swiper-other-page {
    max-width: 450px;
  }

  .map-info__title {
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 25px;
  }

  .map-info__img {
    padding: 0 25px;
  }

  .activities__title {
    text-align: center;
  }

  .about-us-gallery__title {
    font-size: 35px;
    line-height: 46px;
  }

  .about-us-gallery__photo {
    grid-template-areas: "my-about-us-gallery__photo_2 my-about-us-gallery__photo_2 my-about-us-gallery__photo_2" "my-about-us-gallery__photo-text my-about-us-gallery__photo-text my-about-us-gallery__photo-text" "my-about-us-gallery__photo_1 my-about-us-gallery__photo_1 my-about-us-gallery__photo_1" "my-about-us-gallery__photo_3 my-about-us-gallery__photo_3 my-about-us-gallery__photo_3" "my-about-us-gallery__photo_4 my-about-us-gallery__photo_4 my-about-us-gallery__photo_4";
  }

  .contact-us {
    padding: 0 20px;
    margin-bottom: 100px;
  }

  .about-us-contact-us .contacts-form__first-name {
    flex: 0 0 100%;
  }

  .about-us-contact-us .contacts-form__first-name input {
    width: 100%;
  }

  .about-us-contact-us .contacts-form__last-name {
    flex: 0 0 100%;
  }

  .about-us-contact-us .contacts-form__last-name input {
    width: 100%;
  }

  .with-love {
    margin-bottom: 100px;
  }

  .faq-spoiler {
    margin: 150px 0 50px 0;
  }
}

@media (max-width: 575px) {
  .forest {
    grid-template-areas: "my-forest-info my-forest-info" "my-map my-map";
  }

  .facilities {
    padding: 3em 3em;
  }

  .text__title {
    text-align: center;
  }

  .about__item {
    margin-bottom: 30px;
  }

  .about-us-stay {
    padding: 3em 3em;
  }

  .contact__title {
    font-size: 27px;
  }

  .button__block-home {
    padding: 25px 40px;
  }

  .button__block-about-us-stay {
    padding: 20px 40px;
  }

  .footer {
    padding: 2em 2em;
  }

  .photo-background__position_the-area {
    top: 30%;
    left: 25%;
  }

  .photo-background__position_about-us {
    top: 20%;
    left: 5%;
  }

  .photo-background__position_booking {
    top: 45%;
    left: 35%;
  }

  .photo-background__position_the-hut {
    top: 45%;
    left: 35%;
  }

  .photo-background__buttons {
    flex-wrap: wrap;
  }

  .photo-background__button {
    flex: 0 0 100%;
  }

  .photo-background__button:nth-child(1) {
    margin-bottom: 10px;
  }

  .__container-swiper-other-page {
    max-width: 350px;
  }

  .map-info__title {
    padding: 0 10px;
    font-size: 25px;
    line-height: 38px;
  }

  .map-info__img {
    padding: 0 15px;
  }
}

@media (min-width: 0) and (max-width: 575px) {
  .slider-home__title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .slider-home__subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .slider-home__text {
    width: 90%;
    top: 7%;
    left: 6%;
  }

  .slider-home__button {
    position: unset;
  }

  .about-us-gallery__title {
    font-size: 25px;
    line-height: 36px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 576px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1399px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1199px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 575px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 0) and (max-width: 575px){

@supports (-webkit-appearance:none){

}

}
